html {
    box-sizing: border-box;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
@font-face {
    font-family: Gang of Three;
    src: url("./fonts/go3v2\ 2.ttf");
}
body{
    margin: 0;
    padding: 0;
    font-family: Gang of Three;
    color:white;
}
.main-div{
    background-image: url("/images/fruit-cutter-game-kit/PNG/backgrounds/cenario1.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin:0;
    border-top: 1px solid transparent;
}
.container{
    margin: 0;
}
.splash-container h1{
    font-size: 5em;
    margin-left: 50px;
    transform: rotate(-10deg);
}
.splash-container span h2{
    font-size: 2.6em;
    text-align: center;
    margin-top: 12%;
    cursor:url(./images/fruit-cutter-game-kit/faca-diagonal-1.png), auto;
}

.div-btn-start{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.splash-container button.btn-start{
    background-image: url("./images/fruit-cutter-game-kit/PNG/fruits/elementos-06.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 150px;
    background-color: transparent;
    border: none;
    
}
body{
    cursor: url("./images/fruit-cutter-game-kit/PNG/slash-effects/faca-diagonal-2.png"), auto;
}