html {
  box-sizing: border-box;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-family: Gang of Three;
  src: url("../fonts/go3v2-2.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: Gang of Three;
  color: white;
}
.main-div {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  border-top: 1px solid transparent;
}
.main-div.scen-one{
  background-image: url("../images/fruit-cutter-game-kit/PNG/backgrounds/cenario1.png");
}
.main-div.scen-two{
  background-image: url("../images/fruit-cutter-game-kit/PNG/backgrounds/cenario2.jpg");
  color:black
}
.container {
  margin: 0;
}
.splash-container h1 {
  font-size: 5em;
  margin-left: 50px;
  transform: rotate(-10deg);
  width: 600px;
  margin-top: 0;
}
.splash-container span h2 {
  font-size: 2.6em;
  text-align: center;
  margin-top: 20px;
}

.div-btn-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.btn-start {
  background-image: url("../images/fruit-cutter-game-kit/PNG/fruits/entireFruits/entire2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  outline: none;
}
.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game header {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin-top: 0;
}

.game .lives {
  flex: 1;
}

.game .score {
  flex: 1;
}

.game .label {
  font-weight: bold;
}

.game .value {
  font-style: italic;
}

.game .canvas-container {
  flex: 1;
}
.game-over {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}
.game-over h1 {
  font-size: 2em;
}
.change-btn{
display:inline-block;
padding: 0.5em 1.7em;
margin:0 0.3em 0.3em 0;
border-radius:0.5em;
font-family: Gang of Three;
font-weight:600;
text-align:center;
transition: all 0.2s;
box-sizing: border-box;
color: white;
font-size: 1.1em;
outline: none;
}

.div-change-btn{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 30px 0 0;
  margin-top: 5px;
  width: 100%;
}

.change-btn.btn-two{
  background-image: url('../images/fruit-cutter-game-kit/PNG/backgrounds/cenario1.png');
}
.change-btn.btn-one{
  background-image: url('../images/fruit-cutter-game-kit/PNG/backgrounds/cenario2.jpg');
  color:black;
}